.side-bar ul img {
  padding-right: 0.75rem;
}
.side-bar a:hover:not(.active) {
  background-color: #f3f5f8;
  border-radius: 0.5rem;
  color: #5f6165;
}
.side-bar .active {
  background-color: #f3f5f8;
  border-radius: 0.5rem;
}
.screens-part {
  height: 30%;
}
.bar {
  height: 100%;
  /* width: 100%; */
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}
.bottom-list {
  bottom: 0px;
  position: fixed;
}
.side-bar a {
  display: block;
  margin: 0.25rem 0.75rem;

  color: black;
  padding: 1rem 1.25rem;
}
.link-text {
  display: inline;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .link-text {
    /* display: none; */
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .link-text {
    display: none;
  }
}
